# Ignore bundler config.
first_app/.bundle

# Ignore the default SQLite database.
first_app/db/*.sqlite3
first_app/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
first_app/log/
first_app/tmp/

# Ignore other unneeded files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# Ignore uploads
first_app/uploads

# Ignore assets precompile
first_app/public/assets
