<% if signed_in?%>

<div class="row">
  <aside class="col-md-6">
  	<section>
   		<%= render 'shared/user_info' %>
  	</section>
  	<section>
   		<%= render 'shared/post_form' %>
  	</section>
    <section>
      <%= render 'shared/group_posts' %>
    </section>
  </aside>
</div>

<%else%>
  <div class="center hero-unit">
    <h1>Bem-vindo ao  Projeto-SACI</h1>

    <h2>
      Essa é a página inicial do nosso projeto.
    </h2>
    <br>
    <%= link_to "Inscreva-se agora", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<%end%>
