<div class = "row">
	<h1> Escolha sua Conta </h1>
	<center>
		<p> Você é aluno ou professor? </p>
	</center>
	
	<div class = "col-md-2 col-md-offset-4">
		<%= link_to "Aluno", signup_path, class: "btn btn-primary2 btn-lg btn-block" %>
	</div>

	<div class = "col-md-2">
		<%= link_to "Professor", signup_path, class: "btn btn-primary2 btn-lg btn-block" %>
	</div>
</div>