<p id="notice"><%= notice %></p>

<!-- provide(:title, @group.name) -->
<div class="row">
	<div class="span8">
	    <% if @group.posts.any? %>
	      <h3>Posts (<%= @post_count %>)</h3>
	      <ol class="posts">
	        <%= render @posts %>
	      </ol>
	      <%= will_paginate @posts %>
	    <% end %>
  	</div>
</div>